
/* ids */
#companylogo {
    /* width: 200px;
    height: 500px; */
    /* /* max-width: 20%; */
    max-height: 150px;
    height: 150px;
    background-position: center;
    object-fit:cover;
}

#companynamefont {
    color: rgb(61, 163, 163);
}


body {
    background-color: rgb(133, 196, 201);
}

.flex-container {
    display: flex;
    flex-direction: row;
    height: 200px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.company-banner {
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}



.nav {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    background-color: #2c2350;
    color: white;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav li {
    margin-right: 20px;
    font-size: larger;
}

.nav a {
    text-decoration: none;
    text-shadow: 0 0 5px black, 0 0 10px black;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


@media (max-width: 768px) {

    .container {
        max-width: 100%;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .nav a {
        display: block;
        margin-right: 10px;
    }
}

@media (max-width: 480px) {
    .nav a {
        display: block;
        margin-right: 10px;
    }

    .nav li {
        margin-right: 5px;
        font-size: medium;
    }
}